.table {
    border-collapse: separate;
}
.table-hover > tbody > tr:hover > td,
.table-hover > tbody > tr:hover > th {
	background-color: #eee;
}
.table thead > tr > th {
	border-bottom: 1px solid #C2C2C2;
	padding-bottom: 0;
}
.table tbody > tr > td {
	font-size: 0.875em;
	background: #f5f5f5;
	border-top: 10px solid #fff;
	vertical-align: middle;
	padding: 12px 8px;
}
.img-card-apprenant-profil{
    justify-content: start;
    height: 300px;
    border-radius: 5% 90% 5% 90% / 97% 1% 98% 1%;
}
.card-profil-apprenant{
    border-radius: 0% 100% 0% 100% / 100% 3% 100% 0%;
    background-color: #eee;
}