<!-- debut detail apprenant -->
<div class="profil-details container p-4 shadow">
    <div class="profil-mini container">
      <div class="card mb-3 shadow card-profil-apprenant" >
          <div class="row g-0 ">
            <div class="col-md-6 ">
               <img src="https://img.freepik.com/free-photo/young-successful-african-businessman-posing-dark_176420-4970.jpg?size=626&ext=jpg&ga=GA1.1.1764900026.1693144917&semt=ais" class="img-fluid img-card-apprenant-profil" alt="..."  name="imageApprenantProfilDetails"> <!-- width="350px" -->
            </div>
            <div class="col-md-6" >
              <div class="card-body">
                <h1 class="card-title nom-connecter-apprenant"> Nom Complet</h1>
                <p class="card-text"> <span class="fw-bold">Matricule : </span>N00257</p>
                <p class="card-text"> <span class="fw-bold">Address email : </span>nomcomplet@ecole.com</p>
                <p class="card-text"> <span class="fw-bold">Classe : </span>1ére</p>
                <p class="card-text"> <span class="fw-bold">Telephone : </span>77 000 00 00</p>
              </div>
            </div>
          </div>
        </div>
     </div>
    <div class="">
        <div class="d-flex justify-content-between">
            <p class="fw-bold">Les evaluations et les notes </p>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="main-box clearfix">
                    <div class="table-responsive">
                        <table class="table user-list">
                            <thead>
                                <tr>
                                    <th><span>#</span></th>
                                    <th><span><i class="fa-solid fa-house" style="color: #000000;"></i> Matieres</span></th>
                                    <th><span><i class="fa-brands fa-typo3" style="color: #000000;"></i> Type</span></th>
                                    <th><span><i class="fa-solid fa-tag" style="color: #000000;"></i> Semestre</span></th>      
                                    <th><span><i class="fa-solid fa-hourglass-start" style="color: #000000;"></i> Date</span></th> 
                                    <th><i class="fa-solid fa-notes-medical" style="color: #000000;"></i> Note <span class="text-dark-emphasis">/20</span></th>
                                    <th><span><i class="fa-solid fa-calendar" style="color: #000000;"></i> Année</span></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td class="">
                                      <p class="">1</p>  
                                    </td>
                                    <td class="">
                                      <p class="">Mathématique</p>  
                                    </td>
                                    <td class="">
                                      <span class="label label-default">Devoir</span>
                                    </td>
                                    <td class="">
                                      <p>1</p>  
                                    </td>
                                    <td>
                                      06/10/2023
                                    </td>
                                    <td class="">
                                      <p>18</p>
                                    </td>
                                    <td class="">
                                      <p>2023-2024</p>
                                    </td>
                                </tr>
                                <tr>
                                  <td class="">
                                    <p class="">2</p>  
                                  </td>
                                  <td class="">
                                    <p>Mathématique</p>  
                                  </td>
                                  <td class="">
                                    <span class="label label-default">Devoir</span>
                                  </td>
                                  <td class="">
                                    <p>1</p>  
                                  </td>                               
                                  <td>
                                    28/10/2023
                                  </td>
                                  <td class="">
                                    <p>15</p>
                                  </td>
                                  <td class="">
                                    <p>2023-2024</p>
                                  </td>
                              </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>
  <!-- fin detail apprenant -->
