<div class="items">
  <div class="item">
    <div class="item-logo">
      <i class="fa-solid fa-graduation-cap"></i>
    </div>
    <div class="item-text">
      <span>40</span>
      <p>Apprenants</p>
    </div>
  </div>
  <div class="item">
    <div class="item-logo">
      <i class="fa-solid fa-chalkboard-user"></i>
    </div>
    <div class="item-text">
      <span>40</span>
      <p>Formateurs</p>
    </div>
  </div>
  <div class="item">
    <div class="item-logo">
      <i class="fa-solid fa-note-sticky"></i>
    </div>
    <div class="item-text">
      <span>40</span>
      <p>Evaluations</p>
    </div>
  </div>
  <div class="item">
    <div class="item-logo">
      <i class="bi bi-hospital"></i>
    </div>
    <div class="item-text">
      <span>40</span>
      <p>Classes</p>
    </div>
  </div>
</div>
