/* Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap");

/* Globals */
* {
    font-family: "Ubuntu", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --blue: #0275D8;
    --white: #fff;
    --gray: #f5f5f5;
    --black1: #222;
    --black2: #999;
}

body {
    min-height: 100vh;
    overflow-x: hidden;
}

.container {
    position: relative;
    width: 100%;
}

/* sidebar */
.sidebar {
    position: fixed;
    width: 280px;
    height: 100%;
    background: var(--blue);
    border-left: 15px solid var(--blue);
    transition: 0.5s;
    overflow: hidden;
}

.sidebar.active {
    width: 80px;
}

.sidebar ul {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.sidebar ul li {
    position: relative;
    width: 100%;
    list-style: none;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.sidebar ul li:hover,
.sidebar ul li.hovered {
    background-color: var(--white);
}

.sidebar ul li:nth-child(1) {
    margin-bottom: 40px;
    pointer-events: none;
}

.sidebar ul li a {
    position: relative;
    display: block;
    width: 100%;
    display: flex;
    text-decoration: none;
    color: var(--white);
}

.sidebar ul li:hover a,
.sidebar ul li.hovered a {
    color: var(--blue);
}

.sidebar ul li a .icon {
    position: relative;
    display: block;
    min-width: 60px;
    height: 60px;
    line-height: 75px;
    text-align: center;
    color: white;
}

.sidebar ul li a .icon i {
    font-size: 1.35rem;
}

.sidebar ul li a .title {
    position: relative;
    display: block;
    padding: 0 10px;
    height: 60px;
    line-height: 60px;
    text-align: start;
    white-space: nowrap;
    padding-top: 3px;
}

.sidebar ul li a .brand {
    font-weight: bold;
    font-size: large;
}

/* --------- curve outside ---------- */
.sidebar ul li:hover a::before,
.sidebar ul li.hovered a::before {
    content: "";
    position: absolute;
    right: 0;
    top: -50px;
    width: 50px;
    height: 50px;
    background-color: transparent;
    border-radius: 50%;
    box-shadow: 35px 35px 0 10px var(--white);
    pointer-events: none;
}

.sidebar ul li:hover a::after,
.sidebar ul li.hovered a::after {
    content: "";
    position: absolute;
    right: 0;
    bottom: -50px;
    width: 50px;
    height: 50px;
    background-color: transparent;
    border-radius: 50%;
    box-shadow: 35px -35px 0 10px var(--white);
    pointer-events: none;
}

/* Main */
.main {
    position: absolute;
    width: calc(100% - 300px);
    left: 300px;
    min-height: 100vh;
    background: var(--white);
    transition: 0.5s;
}

.main.active {
    width: calc(100% - 80px);
    left: 80px;
}

.topbar {
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    padding: 0 20px;
    justify-content: space-between;
}

.toggle {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    cursor: pointer;
}

.search {
    position: relative;
    width: 400px;
    margin: 0 10px;
}

.search label {
    position: relative;
    width: 100%;
}

.search label input {
    width: 100%;
    height: 40px;
    border-radius: 40px;
    padding: 5px 20px;
    padding-left: 35px;
    font-size: 18px;
    // outline: none;
    border: 1px solid var(--black2);
}

.search label ion-icon {
    position: absolute;
    top: 0;
    left: 10px;
    font-size: 1.2rem;
}

.user {
    position: relative;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
    cursor: pointer;
}


table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

th,
td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}

th {
    background-color: #f2f2f2;

}


.user img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    // margin-left: 0px;
}

/* Dashboard Page */
/* Cards */
.cardBox {
    position: relative;
    width: 100%;
    padding: 20px;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-gap: 30px;
    // padding-left: 25px;
}

.cardBox .card {
    position: relative;
    background: var(--white);
    padding: 50px 20px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    box-shadow: 0 7px 13px rgba(0, 0, 0, 0.3);
}

.secondCard {
    box-shadow: 0 7px 13px rgba(0, 0, 0, 0.3);
    border-radius: 20px;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    width: 105%;

}

.cardBox .card .numbers {
    position: relative;
    font-weight: 500;
    font-size: 2.5rem;
    color: var(--blue);
}

.cardBox .card .income {
    min-width: 70px;
    word-break: break-word;
}

.cardBox .card .cardName {
    color: var(--black2);
    font-size: 1.1rem;
    margin-top: 5px;
}

.cardBox .card .iconBx i {
    font-size: 3rem;
    color: var(--black2);
    padding-left: 10px;
}

// .cardBox .card:hover {
//   background: var(--blue);
// }
// .cardBox .card:hover .numbers,
// .cardBox .card:hover .cardName,
// .cardBox .card:hover .iconBx i {
//   color: var(--white);
// }

/* Time Table */
.details {
    position: relative;
    width: 100%;
    padding: 20px;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-gap: 30px;
}

.details .timetable {
    width: 100%;
    overflow-y: hidden;
    position: relative;
    /* display: grid; */
    min-height: 500px;
    background: var(--white);
    padding: 20px;
    box-shadow: 0 7px 25px rgba(0, 0, 0, 0.35);
    border-radius: 20px;
}

.details .timetableheader h2 {
    font-weight: 600;
    color: var(--blue);
    padding-bottom: 20px;
    text-align: center;
}

.details table {
    width: 900px;
    overflow: scroll;
    border-collapse: collapse;
    cursor: pointer;
    margin-top: 10px;
}

.timetable table th,
.timetable table td {
    text-align: center;
}

.timetable thead {
    height: 3em;
}

.timetable tbody td {
    height: 4em;
}

.timetable thead th,
.timetable tbody td {
    padding: 0px 5px;
}

.timetable table th,
.timetable table td {
    border: 1px solid #7c7c7c;
}

.timetable .maths {
    background: #d0ccff;
}

.timetable .eng {
    background: #f2bdfb;
}

.timetable .phy {
    background: #fcc5c5;
}

.timetable .chem {
    background: #c3f3d5;
}

.timetable .lunch {
    background: #fff1c7;
}


/* My Classes Page */
.myclasses {
    background: var(--white);
    padding: 20px;
    box-shadow: 0 7px 25px rgba(0, 0, 0, 0.08);
    border-radius: 20px;
}

.myclasses .cards_wrap {
    padding: 20px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.myclasses .recent .cards_wrap {
    justify-content: center;
}

.myclasses .all .cards_wrap {
    justify-content: space-between;
}

// .myclasses .all .select-box select {
//   height: 100%;
//   width: 15%;
//   outline: none;
//   border: none;
//   color: #707070;
//   font-size: 1rem;
//   margin-top: 20px;
// }

.myclasses .classHeader h2,
.myclasses .recentclassHeader h3,
.myclasses .allclassHeader h3 {
    font-weight: 600;
    color: var(--blue);
}

.myclasses .recentclassHeader h3 {
    margin-top: 15px;
}

.myclasses .classHeader h2 {
    text-align: center;
}

.myclasses .cards_wrap .card_item {
    padding: 15px 25px;
    width: 25%;
}

.myclasses .cards_wrap .card_inner {
    background: var(--white);
    border-radius: 5px;
    padding: 30px 20px;
    border-radius: 20px;
    box-shadow: 0 7px 13px rgba(0, 0, 0, 0.3);
    min-width: 225px;
    max-height: 370px;
    width: 100%;
}

.myclasses .cards_wrap .card_item img {
    width: 70px;
    height: 70px;
    margin-bottom: 5px;
    border-radius: 50%;
    box-shadow: 0 6px 13px rgba(0, 0, 0, 0.3);
}

.myclasses .cards_wrap .card_item .subject {
    color: var(--blue);
    ;
    font-weight: 900;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-size: 20px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.myclasses .cards_wrap .card_item .date {
    color: #939494;
    font-size: 12px;
    font-weight: 500;
    margin: 10px 0 10px;
}

.myclasses .cards_wrap .card_item .det {
    font-size: 14px;
    line-height: 24px;
    color: #2d2f32;
    margin-bottom: 10px;
}

.myclasses .cards_wrap .card_item .teacher_name {
    color: #3c3c3c;
    font-size: 12px;
    font-weight: 600;
    margin: 5px 0 10px;
}

/* evaluationprogrammées */
.programme_evaluation {
    background: var(--white);
    padding: 20px;
    box-shadow: 0 7px 25px rgba(0, 0, 0, 0.08);
    border-radius: 20px;
    width: 105%;
}

.programme_evaluation .enrollHeader h2 {
    font-weight: 600;
    color: var(--blue);
    text-align: center;
}

.enroll .form {
    margin-top: 30px;
}

.enroll .form .input-box {
    width: 100%;
    margin-top: 20px;
}

.enroll .input-box label {
    color: #333;
}

.enroll .form :where(.input-box input, .select-box) {
    position: relative;
    height: 50px;
    width: 100%;
    outline: none;
    font-size: 1rem;
    color: #707070;
    margin-top: 8px;
    border: 1px solid #ddd;
    border-radius: 6px;
    padding: 0 15px;
}

// .enroll .input-box input:focus {
//   box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
// }

.enroll .form .column {
    display: flex;
    column-gap: 15px;
}

.enroll .select-box select {
    height: 100%;
    width: 100%;
    outline: none;
    border: none;
    color: #707070;
    font-size: 1rem;
}

button {
    height: 50px;
    width: 40%;
    font-size: 1.5rem;
    font-weight: bold;
    margin-top: 30px;
    border: none;
    cursor: pointer;
    background: hsl(208, 98%, 43%);
    color: white;
    border-radius: 20px;
}

.enroll .form button:hover {
    border: 2px solid #0275D8;
    color: black;
}


/* Responsivité*/
// @media screen and (max-width: 1024px) {
// 	.myclasses .cards_wrap .card_item{
// 		width: 33%;
// 	}
//   .assignment .cards_wrap .card_item{
// 		width: 33%;
// 	}
// }

@media (max-width: 991px) {
    .sidebar {
        left: -300px;
    }

    .sidebar.active {
        width: 300px;
        left: 0;
    }

    .main {
        width: 100%;
        left: 0;
    }

    .main.active {
        left: 300px;
    }

    .cardBox {
        grid-template-columns: repeat(2, 1fr);
    }
}

// @media (max-width: 768px) {
//   .details,
//   .fee {
//     grid-template-columns: 1fr;
//   }
//   .fee .coursefee,
//   .courseattendence .courseattendencetable,
//   .results .courseresults {
//     overflow-x: auto;
//   }
//   .myclasses .cards_wrap .card_item{
// 		width: 50%;
// 	}
//   .assignment .cards_wrap .card_item{
// 		width: 50%;
// 	}
// }

// @media screen and (max-width: 568px) {
// 	.myclasses .cards_wrap .card_item{
// 		width: 100%;
// 	}
//   .assignment .cards_wrap .card_item{
// 		width: 100%;
// 	}
// }

@media screen and (max-width: 500px) {
    .enroll .form .column {
        flex-wrap: wrap;
    }
}

@media (max-width: 480px) {
    .cardBox {
        grid-template-columns: repeat(1, 1fr);
    }

    .user {
        min-width: 40px;
    }

    .sidebar {
        width: 100%;
        left: -100%;
        z-index: 1000;
    }

    .sidebar.active {
        width: 100%;
        left: 0;
    }

    .toggle {
        z-index: 10001;
    }

    .main.active .toggle {
        color: #fff;
        position: fixed;
        right: 0;
        left: initial;
    }
}   