<div class="alert alert-primary text-center" role="alert">
  Ajout d'une classe
</div>

<div class="formulaire">
  <div class="form-floating mb-3">
    <input
      type="text"
      class="form-control"
      id="floatingInput"
      placeholder=""
      [(ngModel)]="nom"
    />
    <label for="floatingInput">Nom</label>
  </div>

  <div class="form-floating mb-3">
    <input
      type="text"
      class="form-control"
      id="floatingInput"
      placeholder=""
      [(ngModel)]="description"
    />
    <label for="floatingInput">Description</label>
  </div>


  <div class="text-center d-flex justify-content-around mt-4">
    <button class="btn btn-danger w-25" (click)="resetForm()">Annuler</button>
    <button
      class="btn btn-primary w-25"
      (click)="verifierFormAjout()"
      >
      <!-- routerLink="../listApprenant" -->
      Ajouter
    </button>
  </div>
</div>
